
@media (min-width: 30em) {
  .xs-flex {
    display: -webkit-box;
    display: flex;
  }

  .xs-flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column }
  .xs-flex-row     { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row    }
  .xs-flex-wrap    { flex-wrap: wrap }

  .xs-items-start    { -webkit-box-align: start; align-items: flex-start }
  .xs-items-end      { -webkit-box-align: end; align-items: flex-end   }
  .xs-items-center   { -webkit-box-align: center; align-items: center     }
  .xs-items-baseline { -webkit-box-align: baseline; align-items: baseline   }
  .xs-items-stretch  { -webkit-box-align: stretch; align-items: stretch    }

  .xs-self-start    { align-self: flex-start }
  .xs-self-end      { align-self: flex-end   }
  .xs-self-center   { -ms-grid-row-align: center; align-self: center     }
  .xs-self-baseline { align-self: baseline   }
  .xs-self-stretch  { -ms-grid-row-align: stretch; align-self: stretch    }

  .xs-justify-start   { -webkit-box-pack: start; justify-content: flex-start    }
  .xs-justify-end     { -webkit-box-pack: end; justify-content: flex-end      }
  .xs-justify-center  { -webkit-box-pack: center; justify-content: center        }
  .xs-justify-between { -webkit-box-pack: justify; justify-content: space-between }
  .xs-justify-around  { justify-content: space-around  }

  .xs-content-start   { align-content: flex-start    }
  .xs-content-end     { align-content: flex-end      }
  .xs-content-center  { align-content: center        }
  .xs-content-between { align-content: space-between }
  .xs-content-around  { align-content: space-around  }
  .xs-content-stretch { align-content: stretch       }

  .xs-flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .xs-flex-none { -webkit-box-flex: 0; flex: none }

  .xs-order-0    { -webkit-box-ordinal-group: 1; order: 0     }
  .xs-order-1    { -webkit-box-ordinal-group: 2; order: 1     }
  .xs-order-2    { -webkit-box-ordinal-group: 3; order: 2     }
  .xs-order-3    { -webkit-box-ordinal-group: 4; order: 3     }
  .xs-order-last { -webkit-box-ordinal-group: 100000; order: 99999 }
}

@media (min-width: 48em) {
  .sm-flex {
    display: -webkit-box;
    display: flex;
  }

  .sm-flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column }
  .sm-flex-row     { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row    }
  .sm-flex-wrap    { flex-wrap: wrap }

  .sm-items-start    { -webkit-box-align: start; align-items: flex-start }
  .sm-items-end      { -webkit-box-align: end; align-items: flex-end   }
  .sm-items-center   { -webkit-box-align: center; align-items: center     }
  .sm-items-baseline { -webkit-box-align: baseline; align-items: baseline   }
  .sm-items-stretch  { -webkit-box-align: stretch; align-items: stretch    }

  .sm-self-start    { align-self: flex-start }
  .sm-self-end      { align-self: flex-end   }
  .sm-self-center   { -ms-grid-row-align: center; align-self: center     }
  .sm-self-baseline { align-self: baseline   }
  .sm-self-stretch  { -ms-grid-row-align: stretch; align-self: stretch    }

  .sm-justify-start   { -webkit-box-pack: start; justify-content: flex-start    }
  .sm-justify-end     { -webkit-box-pack: end; justify-content: flex-end      }
  .sm-justify-center  { -webkit-box-pack: center; justify-content: center        }
  .sm-justify-between { -webkit-box-pack: justify; justify-content: space-between }
  .sm-justify-around  { justify-content: space-around  }

  .sm-content-start   { align-content: flex-start    }
  .sm-content-end     { align-content: flex-end      }
  .sm-content-center  { align-content: center        }
  .sm-content-between { align-content: space-between }
  .sm-content-around  { align-content: space-around  }
  .sm-content-stretch { align-content: stretch       }

  .sm-flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .sm-flex-none { -webkit-box-flex: 0; flex: none }

  .sm-order-0    { -webkit-box-ordinal-group: 1; order: 0     }
  .sm-order-1    { -webkit-box-ordinal-group: 2; order: 1     }
  .sm-order-2    { -webkit-box-ordinal-group: 3; order: 2     }
  .sm-order-3    { -webkit-box-ordinal-group: 4; order: 3     }
  .sm-order-last { -webkit-box-ordinal-group: 100000; order: 99999 }
}

@media (min-width: 62em) {
  .md-flex {
    display: -webkit-box;
    display: flex;
  }

  .md-flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column }
  .md-flex-row     { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row    }
  .md-flex-wrap    { flex-wrap: wrap }

  .md-items-start    { -webkit-box-align: start; align-items: flex-start }
  .md-items-end      { -webkit-box-align: end; align-items: flex-end   }
  .md-items-center   { -webkit-box-align: center; align-items: center     }
  .md-items-baseline { -webkit-box-align: baseline; align-items: baseline   }
  .md-items-stretch  { -webkit-box-align: stretch; align-items: stretch    }

  .md-self-start    { align-self: flex-start }
  .md-self-end      { align-self: flex-end   }
  .md-self-center   { -ms-grid-row-align: center; align-self: center     }
  .md-self-baseline { align-self: baseline   }
  .md-self-stretch  { -ms-grid-row-align: stretch; align-self: stretch    }

  .md-justify-start   { -webkit-box-pack: start; justify-content: flex-start    }
  .md-justify-end     { -webkit-box-pack: end; justify-content: flex-end      }
  .md-justify-center  { -webkit-box-pack: center; justify-content: center        }
  .md-justify-between { -webkit-box-pack: justify; justify-content: space-between }
  .md-justify-around  { justify-content: space-around  }

  .md-content-start   { align-content: flex-start    }
  .md-content-end     { align-content: flex-end      }
  .md-content-center  { align-content: center        }
  .md-content-between { align-content: space-between }
  .md-content-around  { align-content: space-around  }
  .md-content-stretch { align-content: stretch       }

  .md-flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .md-flex-none { -webkit-box-flex: 0; flex: none }

  .md-order-0    { -webkit-box-ordinal-group: 1; order: 0     }
  .md-order-1    { -webkit-box-ordinal-group: 2; order: 1     }
  .md-order-2    { -webkit-box-ordinal-group: 3; order: 2     }
  .md-order-3    { -webkit-box-ordinal-group: 4; order: 3     }
  .md-order-last { -webkit-box-ordinal-group: 100000; order: 99999 }
}

@media (min-width: 75em) {
  .lg-flex {
    display: -webkit-box;
    display: flex;
  }

  .lg-flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column }
  .lg-flex-row     { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row    }
  .lg-flex-wrap    { flex-wrap: wrap }

  .lg-items-start    { -webkit-box-align: start; align-items: flex-start }
  .lg-items-end      { -webkit-box-align: end; align-items: flex-end   }
  .lg-items-center   { -webkit-box-align: center; align-items: center     }
  .lg-items-baseline { -webkit-box-align: baseline; align-items: baseline   }
  .lg-items-stretch  { -webkit-box-align: stretch; align-items: stretch    }

  .lg-self-start    { align-self: flex-start }
  .lg-self-end      { align-self: flex-end   }
  .lg-self-center   { -ms-grid-row-align: center; align-self: center     }
  .lg-self-baseline { align-self: baseline   }
  .lg-self-stretch  { -ms-grid-row-align: stretch; align-self: stretch    }

  .lg-justify-start   { -webkit-box-pack: start; justify-content: flex-start    }
  .lg-justify-end     { -webkit-box-pack: end; justify-content: flex-end      }
  .lg-justify-center  { -webkit-box-pack: center; justify-content: center        }
  .lg-justify-between { -webkit-box-pack: justify; justify-content: space-between }
  .lg-justify-around  { justify-content: space-around  }

  .lg-content-start   { align-content: flex-start    }
  .lg-content-end     { align-content: flex-end      }
  .lg-content-center  { align-content: center        }
  .lg-content-between { align-content: space-between }
  .lg-content-around  { align-content: space-around  }
  .lg-content-stretch { align-content: stretch       }

  .lg-flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .lg-flex-none { -webkit-box-flex: 0; flex: none }

  .lg-order-0    { -webkit-box-ordinal-group: 1; order: 0     }
  .lg-order-1    { -webkit-box-ordinal-group: 2; order: 1     }
  .lg-order-2    { -webkit-box-ordinal-group: 3; order: 2     }
  .lg-order-3    { -webkit-box-ordinal-group: 4; order: 3     }
  .lg-order-last { -webkit-box-ordinal-group: 100000; order: 99999 }
}

@media (min-width: 91em) {

  .xl-flex {
    display: -webkit-box;
    display: flex;
  }

  .xl-flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column }
  .xl-flex-row     { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row    }
  .xl-flex-wrap    { flex-wrap: wrap }

  .xl-items-start    { -webkit-box-align: start; align-items: flex-start }
  .xl-items-end      { -webkit-box-align: end; align-items: flex-end   }
  .xl-items-center   { -webkit-box-align: center; align-items: center     }
  .xl-items-baseline { -webkit-box-align: baseline; align-items: baseline   }
  .xl-items-stretch  { -webkit-box-align: stretch; align-items: stretch    }

  .xl-self-start    { align-self: flex-start }
  .xl-self-end      { align-self: flex-end   }
  .xl-self-center   { -ms-grid-row-align: center; align-self: center     }
  .xl-self-baseline { align-self: baseline   }
  .xl-self-stretch  { -ms-grid-row-align: stretch; align-self: stretch    }

  .xl-justify-start   { -webkit-box-pack: start; justify-content: flex-start    }
  .xl-justify-end     { -webkit-box-pack: end; justify-content: flex-end      }
  .xl-justify-center  { -webkit-box-pack: center; justify-content: center        }
  .xl-justify-between { -webkit-box-pack: justify; justify-content: space-between }
  .xl-justify-around  { justify-content: space-around  }

  .xl-content-start   { align-content: flex-start    }
  .xl-content-end     { align-content: flex-end      }
  .xl-content-center  { align-content: center        }
  .xl-content-between { align-content: space-between }
  .xl-content-around  { align-content: space-around  }
  .xl-content-stretch { align-content: stretch       }

  .xl-flex-auto {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .xl-flex-none { -webkit-box-flex: 0; flex: none }

  .xl-order-0    { -webkit-box-ordinal-group: 1; order: 0     }
  .xl-order-1    { -webkit-box-ordinal-group: 2; order: 1     }
  .xl-order-2    { -webkit-box-ordinal-group: 3; order: 2     }
  .xl-order-3    { -webkit-box-ordinal-group: 4; order: 3     }
  .xl-order-last { -webkit-box-ordinal-group: 100000; order: 99999 }
}
