
@media (min-width: 30em) {
  .xs-m0  { margin:        0 }
  .xs-mt0 { margin-top:        0rem }
  .xs-mr0 { margin-right:        0rem }
  .xs-mb0 { margin-bottom:        0rem }
  .xs-ml0 { margin-left:        0rem }

  .xs-m1  { margin:        1rem }
  .xs-mt1 { margin-top:        1rem }
  .xs-mr1 { margin-right:        1rem }
  .xs-mb1 { margin-bottom:        1rem }
  .xs-ml1 { margin-left:        1rem }

  .xs-m2  { margin:        2rem }
  .xs-mt2 { margin-top:        2rem }
  .xs-mr2 { margin-right:        2rem }
  .xs-mb2 { margin-bottom:        2rem }
  .xs-ml2 { margin-left:        2rem }

  .xs-m3 { margin:        3rem }
  .xs-mt3 { margin-top:        3rem }
  .xs-mr3 { margin-right:        3rem }
  .xs-mb3 { margin-bottom:        3rem }
  .xs-ml3 { margin-left:        3rem }

  .xs-m4  { margin:        4rem }
  .xs-mt4 { margin-top:        4rem }
  .xs-mr4 { margin-right:        4rem }
  .xs-mb4 { margin-bottom:        4rem }
  .xs-ml4 { margin-left:        4rem }

  .xs-m5  { margin:        5rem }
  .xs-mt5 { margin-top:        5rem }
  .xs-mr5 { margin-right:        5rem }
  .xs-mb5 { margin-bottom:        5rem }
  .xs-ml5 { margin-left:        5rem }

  .xs-m6  { margin:        6rem }
  .xs-mt6 { margin-top:        6rem }
  .xs-mr6 { margin-right:        6rem }
  .xs-mb6 { margin-bottom:        6rem }
  .xs-ml6 { margin-left:        6rem }

  .xs-mx0 { margin-left:   0;                          margin-right:  0;              }
  .xs-mx1 { margin-left:        1rem; margin-right:        1rem; }
  .xs-mx2 { margin-left:        2rem; margin-right:        2rem; }
  .xs-mx3 { margin-left:        3rem; margin-right:        3rem; }
  .xs-mx4 { margin-left:        4rem; margin-right:        4rem; }
  .xs-mx5 { margin-left:        5rem; margin-right:        5rem; }
  .xs-mx6 { margin-left:        6rem; margin-right:        6rem; }

  .xs-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .xs-my1 { margin-top:        1rem; margin-bottom:        1rem; }
  .xs-my2 { margin-top:        2rem; margin-bottom:        2rem; }
  .xs-my3 { margin-top:        3rem; margin-bottom:        3rem; }
  .xs-my4 { margin-top:        4rem; margin-bottom:        4rem; }
  .xs-my5 { margin-top:        5rem; margin-bottom:        5rem; }
  .xs-my6 { margin-top:        6rem; margin-bottom:        6rem; }

  .xs-mxn1 { margin-left:        -1rem; margin-right:        -1rem; }
  .xs-mxn2 { margin-left:        -2rem; margin-right:        -2rem; }
  .xs-mxn3 { margin-left:        -3rem; margin-right:        -3rem; }
  .xs-mxn4 { margin-left:        -4rem; margin-right:        -4rem; }
  .xs-mxn5 { margin-left:        -5rem; margin-right:        -5rem; }
  .xs-mxn6 { margin-left:        -6rem; margin-right:        -6rem; }
}

@media (min-width: 48em) {
  .sm-m0  { margin:        0 }
  .sm-mt0 { margin-top:        0rem }
  .sm-mr0 { margin-right:        0rem }
  .sm-mb0 { margin-bottom:        0rem }
  .sm-ml0 { margin-left:        0rem }

  .sm-m1  { margin:        1rem }
  .sm-mt1 { margin-top:        1rem }
  .sm-mr1 { margin-right:        1rem }
  .sm-mb1 { margin-bottom:        1rem }
  .sm-ml1 { margin-left:        1rem }

  .sm-m2  { margin:        2rem }
  .sm-mt2 { margin-top:        2rem }
  .sm-mr2 { margin-right:        2rem }
  .sm-mb2 { margin-bottom:        2rem }
  .sm-ml2 { margin-left:        2rem }

  .sm-m3 { margin:        3rem }
  .sm-mt3 { margin-top:        3rem }
  .sm-mr3 { margin-right:        3rem }
  .sm-mb3 { margin-bottom:        3rem }
  .sm-ml3 { margin-left:        3rem }

  .sm-m4  { margin:        4rem }
  .sm-mt4 { margin-top:        4rem }
  .sm-mr4 { margin-right:        4rem }
  .sm-mb4 { margin-bottom:        4rem }
  .sm-ml4 { margin-left:        4rem }

  .sm-m5  { margin:        5rem }
  .sm-mt5 { margin-top:        5rem }
  .sm-mr5 { margin-right:        5rem }
  .sm-mb5 { margin-bottom:        5rem }
  .sm-ml5 { margin-left:        5rem }

  .sm-m6  { margin:        6rem }
  .sm-mt6 { margin-top:        6rem }
  .sm-mr6 { margin-right:        6rem }
  .sm-mb6 { margin-bottom:        6rem }
  .sm-ml6 { margin-left:        6rem }

  .sm-mx0 { margin-left:   0;                          margin-right:  0;              }
  .sm-mx1 { margin-left:        1rem; margin-right:        1rem; }
  .sm-mx2 { margin-left:        2rem; margin-right:        2rem; }
  .sm-mx3 { margin-left:        3rem; margin-right:        3rem; }
  .sm-mx4 { margin-left:        4rem; margin-right:        4rem; }
  .sm-mx5 { margin-left:        5rem; margin-right:        5rem; }
  .sm-mx6 { margin-left:        6rem; margin-right:        6rem; }

  .sm-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .sm-my1 { margin-top:        1rem; margin-bottom:        1rem; }
  .sm-my2 { margin-top:        2rem; margin-bottom:        2rem; }
  .sm-my3 { margin-top:        3rem; margin-bottom:        3rem; }
  .sm-my4 { margin-top:        4rem; margin-bottom:        4rem; }
  .sm-my5 { margin-top:        5rem; margin-bottom:        5rem; }
  .sm-my6 { margin-top:        6rem; margin-bottom:        6rem; }

  .sm-mxn1 { margin-left:        -1rem; margin-right:        -1rem; }
  .sm-mxn2 { margin-left:        -2rem; margin-right:        -2rem; }
  .sm-mxn3 { margin-left:        -3rem; margin-right:        -3rem; }
  .sm-mxn4 { margin-left:        -4rem; margin-right:        -4rem; }
  .sm-mxn5 { margin-left:        -5rem; margin-right:        -5rem; }
  .sm-mxn6 { margin-left:        -6rem; margin-right:        -6rem; }
}

@media (min-width: 62em) {
  .md-m0  { margin:        0 }
  .md-mt0 { margin-top:        0rem }
  .md-mr0 { margin-right:        0rem }
  .md-mb0 { margin-bottom:        0rem }
  .md-ml0 { margin-left:        0rem }

  .md-m1  { margin:        1rem }
  .md-mt1 { margin-top:        1rem }
  .md-mr1 { margin-right:        1rem }
  .md-mb1 { margin-bottom:        1rem }
  .md-ml1 { margin-left:        1rem }

  .md-m2  { margin:        2rem }
  .md-mt2 { margin-top:        2rem }
  .md-mr2 { margin-right:        2rem }
  .md-mb2 { margin-bottom:        2rem }
  .md-ml2 { margin-left:        2rem }

  .md-m3 { margin:        3rem }
  .md-mt3 { margin-top:        3rem }
  .md-mr3 { margin-right:        3rem }
  .md-mb3 { margin-bottom:        3rem }
  .md-ml3 { margin-left:        3rem }

  .md-m4  { margin:        4rem }
  .md-mt4 { margin-top:        4rem }
  .md-mr4 { margin-right:        4rem }
  .md-mb4 { margin-bottom:        4rem }
  .md-ml4 { margin-left:        4rem }

  .xs-m5  { margin:        5rem }
  .xs-mt5 { margin-top:        5rem }
  .xs-mr5 { margin-right:        5rem }
  .xs-mb5 { margin-bottom:        5rem }
  .xs-ml5 { margin-left:        5rem }

  .md-m6  { margin:        6rem }
  .md-mt6 { margin-top:        6rem }
  .md-mr6 { margin-right:        6rem }
  .md-mb6 { margin-bottom:        6rem }
  .md-ml6 { margin-left:        6rem }

  .md-mx0 { margin-left:   0;                          margin-right:  0;              }
  .md-mx1 { margin-left:        1rem; margin-right:        1rem; }
  .md-mx2 { margin-left:        2rem; margin-right:        2rem; }
  .md-mx3 { margin-left:        3rem; margin-right:        3rem; }
  .md-mx4 { margin-left:        4rem; margin-right:        4rem; }
  .md-mx5 { margin-left:        5rem; margin-right:        5rem; }
  .md-mx6 { margin-left:        6rem; margin-right:        6rem; }

  .md-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .md-my1 { margin-top:        1rem; margin-bottom:        1rem; }
  .md-my2 { margin-top:        2rem; margin-bottom:        2rem; }
  .md-my3 { margin-top:        3rem; margin-bottom:        3rem; }
  .md-my4 { margin-top:        4rem; margin-bottom:        4rem; }
  .md-my5 { margin-top:        5rem; margin-bottom:        5rem; }
  .md-my6 { margin-top:        6rem; margin-bottom:        6rem; }

  .md-mxn1 { margin-left:        -1rem; margin-right:        -1rem; }
  .md-mxn2 { margin-left:        -2rem; margin-right:        -2rem; }
  .md-mxn3 { margin-left:        -3rem; margin-right:        -3rem; }
  .md-mxn4 { margin-left:        -4rem; margin-right:        -4rem; }
  .md-mxn5 { margin-left:        -5rem; margin-right:        -5rem; }
  .md-mxn6 { margin-left:        -6rem; margin-right:        -6rem; }
}

@media (min-width: 75em) {
  .lg-m0  { margin:        0 }
  .lg-mt0 { margin-top:        0rem }
  .lg-mr0 { margin-right:        0rem }
  .lg-mb0 { margin-bottom:        0rem }
  .lg-ml0 { margin-left:        0rem }

  .lg-m1  { margin:        1rem }
  .lg-mt1 { margin-top:        1rem }
  .lg-mr1 { margin-right:        1rem }
  .lg-mb1 { margin-bottom:        1rem }
  .lg-ml1 { margin-left:        1rem }

  .lg-m2  { margin:        2rem }
  .lg-mt2 { margin-top:        2rem }
  .lg-mr2 { margin-right:        2rem }
  .lg-mb2 { margin-bottom:        2rem }
  .lg-ml2 { margin-left:        2rem }

  .lg-m3 { margin:        3rem }
  .lg-mt3 { margin-top:        3rem }
  .lg-mr3 { margin-right:        3rem }
  .lg-mb3 { margin-bottom:        3rem }
  .lg-ml3 { margin-left:        3rem }

  .lg-m4  { margin:        4rem }
  .lg-mt4 { margin-top:        4rem }
  .lg-mr4 { margin-right:        4rem }
  .lg-mb4 { margin-bottom:        4rem }
  .lg-ml4 { margin-left:        4rem }

  .lg-m5  { margin:        5rem }
  .lg-mt5 { margin-top:        5rem }
  .lg-mr5 { margin-right:        5rem }
  .lg-mb5 { margin-bottom:        5rem }
  .lg-ml5 { margin-left:        5rem }

  .lg-m6  { margin:        6rem }
  .lg-mt6 { margin-top:        6rem }
  .lg-mr6 { margin-right:        6rem }
  .lg-mb6 { margin-bottom:        6rem }
  .lg-ml6 { margin-left:        6rem }

  .lg-mx0 { margin-left:   0;                          margin-right:  0;              }
  .lg-mx1 { margin-left:        1rem; margin-right:        1rem; }
  .lg-mx2 { margin-left:        2rem; margin-right:        2rem; }
  .lg-mx3 { margin-left:        3rem; margin-right:        3rem; }
  .lg-mx4 { margin-left:        4rem; margin-right:        4rem; }
  .lg-mx5 { margin-left:        5rem; margin-right:        5rem; }
  .lg-mx6 { margin-left:        6rem; margin-right:        6rem; }

  .lg-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .lg-my1 { margin-top:        1rem; margin-bottom:        1rem; }
  .lg-my2 { margin-top:        2rem; margin-bottom:        2rem; }
  .lg-my3 { margin-top:        3rem; margin-bottom:        3rem; }
  .lg-my4 { margin-top:        4rem; margin-bottom:        4rem; }
  .lg-my5 { margin-top:        5rem; margin-bottom:        5rem; }
  .lg-my6 { margin-top:        6rem; margin-bottom:        6rem; }

  .lg-mxn1 { margin-left:        -1rem; margin-right:        -1rem; }
  .lg-mxn2 { margin-left:        -2rem; margin-right:        -2rem; }
  .lg-mxn3 { margin-left:        -3rem; margin-right:        -3rem; }
  .lg-mxn4 { margin-left:        -4rem; margin-right:        -4rem; }
  .lg-mxn5 { margin-left:        -5rem; margin-right:        -5rem; }
  .lg-mxn6 { margin-left:        -6rem; margin-right:        -6rem; }
}

@media (min-width: 91em) {
  .xl-m0  { margin:        0 }
  .xl-mt0 { margin-top:        0rem }
  .xl-mr0 { margin-right:        0rem }
  .xl-mb0 { margin-bottom:        0rem }
  .xl-ml0 { margin-left:        0rem }

  .xl-m1  { margin:        1rem }
  .xl-mt1 { margin-top:        1rem }
  .xl-mr1 { margin-right:        1rem }
  .xl-mb1 { margin-bottom:        1rem }
  .xl-ml1 { margin-left:        1rem }

  .xl-m2  { margin:        2rem }
  .xl-mt2 { margin-top:        2rem }
  .xl-mr2 { margin-right:        2rem }
  .xl-mb2 { margin-bottom:        2rem }
  .xl-ml2 { margin-left:        2rem }

  .xl-m3 { margin:        3rem }
  .xl-mt3 { margin-top:        3rem }
  .xl-mr3 { margin-right:        3rem }
  .xl-mb3 { margin-bottom:        3rem }
  .xl-ml3 { margin-left:        3rem }

  .xl-m4  { margin:        4rem }
  .xl-mt4 { margin-top:        4rem }
  .xl-mr4 { margin-right:        4rem }
  .xl-mb4 { margin-bottom:        4rem }
  .xl-ml4 { margin-left:        4rem }

  .xl-m5  { margin:        5rem }
  .xl-mt5 { margin-top:        5rem }
  .xl-mr5 { margin-right:        5rem }
  .xl-mb5 { margin-bottom:        5rem }
  .xl-ml5 { margin-left:        5rem }

  .xl-m6  { margin:        6rem }
  .xl-mt6 { margin-top:        6rem }
  .xl-mr6 { margin-right:        6rem }
  .xl-mb6 { margin-bottom:        6rem }
  .xl-ml6 { margin-left:        6rem }

  .xl-mx0 { margin-left:   0;                          margin-right:  0;              }
  .xl-mx1 { margin-left:        1rem; margin-right:        1rem; }
  .xl-mx2 { margin-left:        2rem; margin-right:        2rem; }
  .xl-mx3 { margin-left:        3rem; margin-right:        3rem; }
  .xl-mx4 { margin-left:        4rem; margin-right:        4rem; }
  .xl-mx5 { margin-left:        5rem; margin-right:        5rem; }
  .xl-mx6 { margin-left:        6rem; margin-right:        6rem; }

  .xl-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .xl-my1 { margin-top:        1rem; margin-bottom:        1rem; }
  .xl-my2 { margin-top:        2rem; margin-bottom:        2rem; }
  .xl-my3 { margin-top:        3rem; margin-bottom:        3rem; }
  .xl-my4 { margin-top:        4rem; margin-bottom:        4rem; }
  .xl-my5 { margin-top:        5rem; margin-bottom:        5rem; }
  .xl-my6 { margin-top:        6rem; margin-bottom:        6rem; }

  .xl-mxn1 { margin-left:        -1rem; margin-right:        -1rem; }
  .xl-mxn2 { margin-left:        -2rem; margin-right:        -2rem; }
  .xl-mxn3 { margin-left:        -3rem; margin-right:        -3rem; }
  .xl-mxn4 { margin-left:        -4rem; margin-right:        -4rem; }
  .xl-mxn5 { margin-left:        -5rem; margin-right:        -5rem; }
  .xl-mxn6 { margin-left:        -6rem; margin-right:        -6rem; }
}
