
@media (--xs-viewport) {
  .xs-flex {
    display: flex;
  }

  .xs-flex-column  { flex-direction: column }
  .xs-flex-row     { flex-direction: row    }
  .xs-flex-wrap    { flex-wrap: wrap }

  .xs-flex-column-reverse { flex-direction: column-reverse }
  .xs-flex-row-reverse    { flex-direction: row-reverse    }
  .xs-flex-wrap-reverse   { flex-wrap: wrap-reverse        }

  .xs-items-start    { align-items: flex-start }
  .xs-items-end      { align-items: flex-end   }
  .xs-items-center   { align-items: center     }
  .xs-items-baseline { align-items: baseline   }
  .xs-items-stretch  { align-items: stretch    }

  .xs-self-start    { align-self: flex-start }
  .xs-self-end      { align-self: flex-end   }
  .xs-self-center   { align-self: center     }
  .xs-self-baseline { align-self: baseline   }
  .xs-self-stretch  { align-self: stretch    }

  .xs-justify-start   { justify-content: flex-start    }
  .xs-justify-end     { justify-content: flex-end      }
  .xs-justify-center  { justify-content: center        }
  .xs-justify-between { justify-content: space-between }
  .xs-justify-around  { justify-content: space-around  }

  .xs-content-start   { align-content: flex-start    }
  .xs-content-end     { align-content: flex-end      }
  .xs-content-center  { align-content: center        }
  .xs-content-between { align-content: space-between }
  .xs-content-around  { align-content: space-around  }
  .xs-content-stretch { align-content: stretch       }

  .xs-flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .xs-flex-none { flex: none }

  .xs-order-0    { order: 0     }
  .xs-order-1    { order: 1     }
  .xs-order-2    { order: 2     }
  .xs-order-3    { order: 3     }
  .xs-order-last { order: 99999 }
}

@media (--sm-viewport) {
  .sm-flex {
    display: flex;
  }

  .sm-flex-column  { flex-direction: column }
  .sm-flex-row     { flex-direction: row    }
  .sm-flex-wrap    { flex-wrap: wrap }

  .sm-flex-column-reverse { flex-direction: column-reverse }
  .sm-flex-row-reverse    { flex-direction: row-reverse    }
  .sm-flex-wrap-reverse   { flex-wrap: wrap-reverse        }

  .sm-items-start    { align-items: flex-start }
  .sm-items-end      { align-items: flex-end   }
  .sm-items-center   { align-items: center     }
  .sm-items-baseline { align-items: baseline   }
  .sm-items-stretch  { align-items: stretch    }

  .sm-self-start    { align-self: flex-start }
  .sm-self-end      { align-self: flex-end   }
  .sm-self-center   { align-self: center     }
  .sm-self-baseline { align-self: baseline   }
  .sm-self-stretch  { align-self: stretch    }

  .sm-justify-start   { justify-content: flex-start    }
  .sm-justify-end     { justify-content: flex-end      }
  .sm-justify-center  { justify-content: center        }
  .sm-justify-between { justify-content: space-between }
  .sm-justify-around  { justify-content: space-around  }

  .sm-content-start   { align-content: flex-start    }
  .sm-content-end     { align-content: flex-end      }
  .sm-content-center  { align-content: center        }
  .sm-content-between { align-content: space-between }
  .sm-content-around  { align-content: space-around  }
  .sm-content-stretch { align-content: stretch       }

  .sm-flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .sm-flex-none { flex: none }

  .sm-order-0    { order: 0     }
  .sm-order-1    { order: 1     }
  .sm-order-2    { order: 2     }
  .sm-order-3    { order: 3     }
  .sm-order-last { order: 99999 }
}

@media (--md-viewport) {
  .md-flex {
    display: flex;
  }

  .md-flex-column  { flex-direction: column }
  .md-flex-row     { flex-direction: row    }
  .md-flex-wrap    { flex-wrap: wrap }

  .md-flex-column-reverse { flex-direction: column-reverse }
  .md-flex-row-reverse    { flex-direction: row-reverse    }
  .md-flex-wrap-reverse   { flex-wrap: wrap-reverse        }

  .md-items-start    { align-items: flex-start }
  .md-items-end      { align-items: flex-end   }
  .md-items-center   { align-items: center     }
  .md-items-baseline { align-items: baseline   }
  .md-items-stretch  { align-items: stretch    }

  .md-self-start    { align-self: flex-start }
  .md-self-end      { align-self: flex-end   }
  .md-self-center   { align-self: center     }
  .md-self-baseline { align-self: baseline   }
  .md-self-stretch  { align-self: stretch    }

  .md-justify-start   { justify-content: flex-start    }
  .md-justify-end     { justify-content: flex-end      }
  .md-justify-center  { justify-content: center        }
  .md-justify-between { justify-content: space-between }
  .md-justify-around  { justify-content: space-around  }

  .md-content-start   { align-content: flex-start    }
  .md-content-end     { align-content: flex-end      }
  .md-content-center  { align-content: center        }
  .md-content-between { align-content: space-between }
  .md-content-around  { align-content: space-around  }
  .md-content-stretch { align-content: stretch       }

  .md-flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .md-flex-none { flex: none }

  .md-order-0    { order: 0     }
  .md-order-1    { order: 1     }
  .md-order-2    { order: 2     }
  .md-order-3    { order: 3     }
  .md-order-last { order: 99999 }
}

@media (--lg-viewport) {
  .lg-flex {
    display: flex;
  }

  .lg-flex-column  { flex-direction: column }
  .lg-flex-row     { flex-direction: row    }
  .lg-flex-wrap    { flex-wrap: wrap }

  .lg-flex-column-reverse { flex-direction: column-reverse }
  .lg-flex-row-reverse    { flex-direction: row-reverse    }
  .lg-flex-wrap-reverse   { flex-wrap: wrap-reverse        }

  .lg-items-start    { align-items: flex-start }
  .lg-items-end      { align-items: flex-end   }
  .lg-items-center   { align-items: center     }
  .lg-items-baseline { align-items: baseline   }
  .lg-items-stretch  { align-items: stretch    }

  .lg-self-start    { align-self: flex-start }
  .lg-self-end      { align-self: flex-end   }
  .lg-self-center   { align-self: center     }
  .lg-self-baseline { align-self: baseline   }
  .lg-self-stretch  { align-self: stretch    }

  .lg-justify-start   { justify-content: flex-start    }
  .lg-justify-end     { justify-content: flex-end      }
  .lg-justify-center  { justify-content: center        }
  .lg-justify-between { justify-content: space-between }
  .lg-justify-around  { justify-content: space-around  }

  .lg-content-start   { align-content: flex-start    }
  .lg-content-end     { align-content: flex-end      }
  .lg-content-center  { align-content: center        }
  .lg-content-between { align-content: space-between }
  .lg-content-around  { align-content: space-around  }
  .lg-content-stretch { align-content: stretch       }

  .lg-flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .lg-flex-none { flex: none }

  .lg-order-0    { order: 0     }
  .lg-order-1    { order: 1     }
  .lg-order-2    { order: 2     }
  .lg-order-3    { order: 3     }
  .lg-order-last { order: 99999 }
}

@media (--xl-viewport) {

  .xl-flex {
    display: flex;
  }

  .xl-flex-column  { flex-direction: column }
  .xl-flex-row     { flex-direction: row    }
  .xl-flex-wrap    { flex-wrap: wrap }

  .xl-flex-column-reverse { flex-direction: column-reverse }
  .xl-flex-row-reverse    { flex-direction: row-reverse    }
  .xl-flex-wrap-reverse   { flex-wrap: wrap-reverse        }

  .xl-items-start    { align-items: flex-start }
  .xl-items-end      { align-items: flex-end   }
  .xl-items-center   { align-items: center     }
  .xl-items-baseline { align-items: baseline   }
  .xl-items-stretch  { align-items: stretch    }

  .xl-self-start    { align-self: flex-start }
  .xl-self-end      { align-self: flex-end   }
  .xl-self-center   { align-self: center     }
  .xl-self-baseline { align-self: baseline   }
  .xl-self-stretch  { align-self: stretch    }

  .xl-justify-start   { justify-content: flex-start    }
  .xl-justify-end     { justify-content: flex-end      }
  .xl-justify-center  { justify-content: center        }
  .xl-justify-between { justify-content: space-between }
  .xl-justify-around  { justify-content: space-around  }

  .xl-content-start   { align-content: flex-start    }
  .xl-content-end     { align-content: flex-end      }
  .xl-content-center  { align-content: center        }
  .xl-content-between { align-content: space-between }
  .xl-content-around  { align-content: space-around  }
  .xl-content-stretch { align-content: stretch       }

  .xl-flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .xl-flex-none { flex: none }

  .xl-order-0    { order: 0     }
  .xl-order-1    { order: 1     }
  .xl-order-2    { order: 2     }
  .xl-order-3    { order: 3     }
  .xl-order-last { order: 99999 }
}
