
.col {
  position: relative;
  display: block;
  float: left;
  min-height: 1px;
  max-width: 100%;
}

.base-1  { width: calc(100 / 12 * 1)%  }
.base-2  { width: calc(100 / 12 * 2)%  }
.base-3  { width: calc(100 / 12 * 3)%  }
.base-4  { width: calc(100 / 12 * 4)%  }
.base-5  { width: calc(100 / 12 * 5)%  }
.base-6  { width: calc(100 / 12 * 6)%  }
.base-7  { width: calc(100 / 12 * 7)%  }
.base-8  { width: calc(100 / 12 * 8)%  }
.base-9  { width: calc(100 / 12 * 9)%  }
.base-10 { width: calc(100 / 12 * 10)% }
.base-11 { width: calc(100 / 12 * 11)% }
.base-12 { width: calc(100 / 12 * 12)% }

.base-offset-0  { margin-left: 0 }
.base-offset-1  { margin-left: calc(100 / 12 * 1)% }
.base-offset-2  { margin-left: calc(100 / 12 * 2)% }
.base-offset-3  { margin-left: calc(100 / 12 * 3)% }
.base-offset-4  { margin-left: calc(100 / 12 * 4)% }
.base-offset-5  { margin-left: calc(100 / 12 * 5)% }
.base-offset-6  { margin-left: calc(100 / 12 * 6)% }

@media (--xs-viewport) {
  .xs-1  { width: calc(100 / 12 * 1)%  }
  .xs-2  { width: calc(100 / 12 * 2)%  }
  .xs-3  { width: calc(100 / 12 * 3)%  }
  .xs-4  { width: calc(100 / 12 * 4)%  }
  .xs-5  { width: calc(100 / 12 * 5)%  }
  .xs-6  { width: calc(100 / 12 * 6)%  }
  .xs-7  { width: calc(100 / 12 * 7)%  }
  .xs-8  { width: calc(100 / 12 * 8)%  }
  .xs-9  { width: calc(100 / 12 * 9)%  }
  .xs-10 { width: calc(100 / 12 * 10)% }
  .xs-11 { width: calc(100 / 12 * 11)% }
  .xs-12 { width: calc(100 / 12 * 12)% }

  .xs-offset-0  { margin-left: 0 }
  .xs-offset-1  { margin-left: calc(100 / 12 * 1)% }
  .xs-offset-2  { margin-left: calc(100 / 12 * 2)% }
  .xs-offset-3  { margin-left: calc(100 / 12 * 3)% }
  .xs-offset-4  { margin-left: calc(100 / 12 * 4)% }
  .xs-offset-5  { margin-left: calc(100 / 12 * 5)% }
  .xs-offset-6  { margin-left: calc(100 / 12 * 6)% }
}

@media (--sm-viewport) {
  .sm-1  { width: calc(100 / 12 * 1)%  }
  .sm-2  { width: calc(100 / 12 * 2)%  }
  .sm-3  { width: calc(100 / 12 * 3)%  }
  .sm-4  { width: calc(100 / 12 * 4)%  }
  .sm-5  { width: calc(100 / 12 * 5)%  }
  .sm-6  { width: calc(100 / 12 * 6)%  }
  .sm-7  { width: calc(100 / 12 * 7)%  }
  .sm-8  { width: calc(100 / 12 * 8)%  }
  .sm-9  { width: calc(100 / 12 * 9)%  }
  .sm-10 { width: calc(100 / 12 * 10)% }
  .sm-11 { width: calc(100 / 12 * 11)% }
  .sm-12 { width: calc(100 / 12 * 12)% }

  .sm-offset-0  { margin-left: 0 }
  .sm-offset-1  { margin-left: calc(100 / 12 * 1)% }
  .sm-offset-2  { margin-left: calc(100 / 12 * 2)% }
  .sm-offset-3  { margin-left: calc(100 / 12 * 3)% }
  .sm-offset-4  { margin-left: calc(100 / 12 * 4)% }
  .sm-offset-5  { margin-left: calc(100 / 12 * 5)% }
  .sm-offset-6  { margin-left: calc(100 / 12 * 6)% }
}

@media (--md-viewport) {
  .md-1  { width: calc(100 / 12 * 1)%  }
  .md-2  { width: calc(100 / 12 * 2)%  }
  .md-3  { width: calc(100 / 12 * 3)%  }
  .md-4  { width: calc(100 / 12 * 4)%  }
  .md-5  { width: calc(100 / 12 * 5)%  }
  .md-6  { width: calc(100 / 12 * 6)%  }
  .md-7  { width: calc(100 / 12 * 7)%  }
  .md-8  { width: calc(100 / 12 * 8)%  }
  .md-9  { width: calc(100 / 12 * 9)%  }
  .md-10 { width: calc(100 / 12 * 10)% }
  .md-11 { width: calc(100 / 12 * 11)% }
  .md-12 { width: calc(100 / 12 * 12)% }

  .md-offset-0  { margin-left: 0 }
  .md-offset-1  { margin-left: calc(100 / 12 * 1)% }
  .md-offset-2  { margin-left: calc(100 / 12 * 2)% }
  .md-offset-3  { margin-left: calc(100 / 12 * 3)% }
  .md-offset-4  { margin-left: calc(100 / 12 * 4)% }
  .md-offset-5  { margin-left: calc(100 / 12 * 5)% }
  .md-offset-6  { margin-left: calc(100 / 12 * 6)% }
}

@media (--lg-viewport) {
  .lg-1  { width: calc(100 / 12 * 1)%  }
  .lg-2  { width: calc(100 / 12 * 2)%  }
  .lg-3  { width: calc(100 / 12 * 3)%  }
  .lg-4  { width: calc(100 / 12 * 4)%  }
  .lg-5  { width: calc(100 / 12 * 5)%  }
  .lg-6  { width: calc(100 / 12 * 6)%  }
  .lg-7  { width: calc(100 / 12 * 7)%  }
  .lg-8  { width: calc(100 / 12 * 8)%  }
  .lg-9  { width: calc(100 / 12 * 9)%  }
  .lg-10 { width: calc(100 / 12 * 10)% }
  .lg-11 { width: calc(100 / 12 * 11)% }
  .lg-12 { width: calc(100 / 12 * 12)% }

  .lg-offset-0  { margin-left: 0 }
  .lg-offset-1  { margin-left: calc(100 / 12 * 1)% }
  .lg-offset-2  { margin-left: calc(100 / 12 * 2)% }
  .lg-offset-3  { margin-left: calc(100 / 12 * 3)% }
  .lg-offset-4  { margin-left: calc(100 / 12 * 4)% }
  .lg-offset-5  { margin-left: calc(100 / 12 * 5)% }
  .lg-offset-6  { margin-left: calc(100 / 12 * 6)% }
}

@media (--xl-viewport) {
  .xl-1  { width: calc(100 / 12 * 1)%  }
  .xl-2  { width: calc(100 / 12 * 2)%  }
  .xl-3  { width: calc(100 / 12 * 3)%  }
  .xl-4  { width: calc(100 / 12 * 4)%  }
  .xl-5  { width: calc(100 / 12 * 5)%  }
  .xl-6  { width: calc(100 / 12 * 6)%  }
  .xl-7  { width: calc(100 / 12 * 7)%  }
  .xl-8  { width: calc(100 / 12 * 8)%  }
  .xl-9  { width: calc(100 / 12 * 9)%  }
  .xl-10 { width: calc(100 / 12 * 10)% }
  .xl-11 { width: calc(100 / 12 * 11)% }
  .xl-12 { width: calc(100 / 12 * 12)% }

  .xl-offset-0  { margin-left: 0 }
  .xl-offset-1  { margin-left: calc(100 / 12 * 1)% }
  .xl-offset-2  { margin-left: calc(100 / 12 * 2)% }
  .xl-offset-3  { margin-left: calc(100 / 12 * 3)% }
  .xl-offset-4  { margin-left: calc(100 / 12 * 4)% }
  .xl-offset-5  { margin-left: calc(100 / 12 * 5)% }
  .xl-offset-6  { margin-left: calc(100 / 12 * 6)% }
}
