
@media (--xs-viewport) {
  .xs-height-auto  { height: auto;  }

  .xs-height-25    { height: 25%;   }
  .xs-height-50    { height: 50%;   }
  .xs-height-75    { height: 75%;   }
  .xs-height-100   { height: 100%;  }

  .xs-height-25vh  { height: 25vh;  }
  .xs-height-50vh  { height: 50vh;  }
  .xs-height-75vh  { height: 75vh;  }
  .xs-height-100vh { height: 100vh; }
}

@media (--sm-viewport) {
  .sm-height-auto  { height: auto;  }

  .sm-height-25    { height: 25%;   }
  .sm-height-50    { height: 50%;   }
  .sm-height-75    { height: 75%;   }
  .sm-height-100   { height: 100%;  }

  .sm-height-25vh  { height: 25vh;  }
  .sm-height-50vh  { height: 50vh;  }
  .sm-height-75vh  { height: 75vh;  }
  .sm-height-100vh { height: 100vh; }
}

@media (--md-viewport) {
  .md-height-auto  { height: auto;  }

  .md-height-25    { height: 25%;   }
  .md-height-50    { height: 50%;   }
  .md-height-75    { height: 75%;   }
  .md-height-100   { height: 100%;  }

  .md-height-25vh  { height: 25vh;  }
  .md-height-50vh  { height: 50vh;  }
  .md-height-75vh  { height: 75vh;  }
  .md-height-100vh { height: 100vh; }
}

@media (--lg-viewport) {
  .lg-height-auto  { height: auto;  }

  .lg-height-25    { height: 25%;   }
  .lg-height-50    { height: 50%;   }
  .lg-height-75    { height: 75%;   }
  .lg-height-100   { height: 100%;  }

  .lg-height-25vh  { height: 25vh;  }
  .lg-height-50vh  { height: 50vh;  }
  .lg-height-75vh  { height: 75vh;  }
  .lg-height-100vh { height: 100vh; }
}

@media (--xl-viewport) {
  .xl-height-auto  { height: auto;  }

  .xl-height-25    { height: 25%;   }
  .xl-height-50    { height: 50%;   }
  .xl-height-75    { height: 75%;   }
  .xl-height-100   { height: 100%;  }

  .xl-height-25vh  { height: 25vh;  }
  .xl-height-50vh  { height: 50vh;  }
  .xl-height-75vh  { height: 75vh;  }
  .xl-height-100vh { height: 100vh; }
}
