
/*
 * Links
 *
 */
a {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  border-bottom: calc(2 * var(--one)) solid currentcolor;
}

.link--focus-highlight:focus {
  box-shadow: inset 0 0 0 3em rgba(0,0,0,var(--shadow-light)),
              0 0 0 4px rgba(0,0,0,var(--shadow-light));
}

.link--underlined {
  border-bottom: calc(2 * var(--one)) solid currentcolor;
}

.link--no-underline,
.link--no-underline:hover,
.link--no-underline:focus {
  border-bottom: none;
}
