
@media (--xs-viewport) {
  .xs-m0  { margin:        0 }
  .xs-mt0 { margin-top:    calc(0 * var(--base-unit)) }
  .xs-mr0 { margin-right:  calc(0 * var(--base-unit)) }
  .xs-mb0 { margin-bottom: calc(0 * var(--base-unit)) }
  .xs-ml0 { margin-left:   calc(0 * var(--base-unit)) }

  .xs-m1  { margin:        calc(1 * var(--base-unit)) }
  .xs-mt1 { margin-top:    calc(1 * var(--base-unit)) }
  .xs-mr1 { margin-right:  calc(1 * var(--base-unit)) }
  .xs-mb1 { margin-bottom: calc(1 * var(--base-unit)) }
  .xs-ml1 { margin-left:   calc(1 * var(--base-unit)) }

  .xs-m2  { margin:        calc(2 * var(--base-unit)) }
  .xs-mt2 { margin-top:    calc(2 * var(--base-unit)) }
  .xs-mr2 { margin-right:  calc(2 * var(--base-unit)) }
  .xs-mb2 { margin-bottom: calc(2 * var(--base-unit)) }
  .xs-ml2 { margin-left:   calc(2 * var(--base-unit)) }

  .xs-m3 { margin:         calc(3 * var(--base-unit)) }
  .xs-mt3 { margin-top:    calc(3 * var(--base-unit)) }
  .xs-mr3 { margin-right:  calc(3 * var(--base-unit)) }
  .xs-mb3 { margin-bottom: calc(3 * var(--base-unit)) }
  .xs-ml3 { margin-left:   calc(3 * var(--base-unit)) }

  .xs-m4  { margin:        calc(4 * var(--base-unit)) }
  .xs-mt4 { margin-top:    calc(4 * var(--base-unit)) }
  .xs-mr4 { margin-right:  calc(4 * var(--base-unit)) }
  .xs-mb4 { margin-bottom: calc(4 * var(--base-unit)) }
  .xs-ml4 { margin-left:   calc(4 * var(--base-unit)) }

  .xs-m5  { margin:        calc(5 * var(--base-unit)) }
  .xs-mt5 { margin-top:    calc(5 * var(--base-unit)) }
  .xs-mr5 { margin-right:  calc(5 * var(--base-unit)) }
  .xs-mb5 { margin-bottom: calc(5 * var(--base-unit)) }
  .xs-ml5 { margin-left:   calc(5 * var(--base-unit)) }

  .xs-m6  { margin:        calc(6 * var(--base-unit)) }
  .xs-mt6 { margin-top:    calc(6 * var(--base-unit)) }
  .xs-mr6 { margin-right:  calc(6 * var(--base-unit)) }
  .xs-mb6 { margin-bottom: calc(6 * var(--base-unit)) }
  .xs-ml6 { margin-left:   calc(6 * var(--base-unit)) }

  .xs-mx0 { margin-left:   0;                          margin-right:  0;              }
  .xs-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .xs-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .xs-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .xs-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }
  .xs-mx5 { margin-left:   calc(5 * var(--base-unit)); margin-right:  calc(5 * var(--base-unit)); }
  .xs-mx6 { margin-left:   calc(6 * var(--base-unit)); margin-right:  calc(6 * var(--base-unit)); }

  .xs-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .xs-my1 { margin-top:   calc(1 * var(--base-unit)); margin-bottom:  calc(1 * var(--base-unit)); }
  .xs-my2 { margin-top:   calc(2 * var(--base-unit)); margin-bottom:  calc(2 * var(--base-unit)); }
  .xs-my3 { margin-top:   calc(3 * var(--base-unit)); margin-bottom:  calc(3 * var(--base-unit)); }
  .xs-my4 { margin-top:   calc(4 * var(--base-unit)); margin-bottom:  calc(4 * var(--base-unit)); }
  .xs-my5 { margin-top:   calc(5 * var(--base-unit)); margin-bottom:  calc(5 * var(--base-unit)); }
  .xs-my6 { margin-top:   calc(6 * var(--base-unit)); margin-bottom:  calc(6 * var(--base-unit)); }

  .xs-mxn1 { margin-left:   calc(-1 * var(--base-unit)); margin-right:  calc(-1 * var(--base-unit)); }
  .xs-mxn2 { margin-left:   calc(-2 * var(--base-unit)); margin-right:  calc(-2 * var(--base-unit)); }
  .xs-mxn3 { margin-left:   calc(-3 * var(--base-unit)); margin-right:  calc(-3 * var(--base-unit)); }
  .xs-mxn4 { margin-left:   calc(-4 * var(--base-unit)); margin-right:  calc(-4 * var(--base-unit)); }
  .xs-mxn5 { margin-left:   calc(-5 * var(--base-unit)); margin-right:  calc(-5 * var(--base-unit)); }
  .xs-mxn6 { margin-left:   calc(-6 * var(--base-unit)); margin-right:  calc(-6 * var(--base-unit)); }
}

@media (--sm-viewport) {
  .sm-m0  { margin:        0 }
  .sm-mt0 { margin-top:    calc(0 * var(--base-unit)) }
  .sm-mr0 { margin-right:  calc(0 * var(--base-unit)) }
  .sm-mb0 { margin-bottom: calc(0 * var(--base-unit)) }
  .sm-ml0 { margin-left:   calc(0 * var(--base-unit)) }

  .sm-m1  { margin:        calc(1 * var(--base-unit)) }
  .sm-mt1 { margin-top:    calc(1 * var(--base-unit)) }
  .sm-mr1 { margin-right:  calc(1 * var(--base-unit)) }
  .sm-mb1 { margin-bottom: calc(1 * var(--base-unit)) }
  .sm-ml1 { margin-left:   calc(1 * var(--base-unit)) }

  .sm-m2  { margin:        calc(2 * var(--base-unit)) }
  .sm-mt2 { margin-top:    calc(2 * var(--base-unit)) }
  .sm-mr2 { margin-right:  calc(2 * var(--base-unit)) }
  .sm-mb2 { margin-bottom: calc(2 * var(--base-unit)) }
  .sm-ml2 { margin-left:   calc(2 * var(--base-unit)) }

  .sm-m3 { margin:         calc(3 * var(--base-unit)) }
  .sm-mt3 { margin-top:    calc(3 * var(--base-unit)) }
  .sm-mr3 { margin-right:  calc(3 * var(--base-unit)) }
  .sm-mb3 { margin-bottom: calc(3 * var(--base-unit)) }
  .sm-ml3 { margin-left:   calc(3 * var(--base-unit)) }

  .sm-m4  { margin:        calc(4 * var(--base-unit)) }
  .sm-mt4 { margin-top:    calc(4 * var(--base-unit)) }
  .sm-mr4 { margin-right:  calc(4 * var(--base-unit)) }
  .sm-mb4 { margin-bottom: calc(4 * var(--base-unit)) }
  .sm-ml4 { margin-left:   calc(4 * var(--base-unit)) }

  .sm-m5  { margin:        calc(5 * var(--base-unit)) }
  .sm-mt5 { margin-top:    calc(5 * var(--base-unit)) }
  .sm-mr5 { margin-right:  calc(5 * var(--base-unit)) }
  .sm-mb5 { margin-bottom: calc(5 * var(--base-unit)) }
  .sm-ml5 { margin-left:   calc(5 * var(--base-unit)) }

  .sm-m6  { margin:        calc(6 * var(--base-unit)) }
  .sm-mt6 { margin-top:    calc(6 * var(--base-unit)) }
  .sm-mr6 { margin-right:  calc(6 * var(--base-unit)) }
  .sm-mb6 { margin-bottom: calc(6 * var(--base-unit)) }
  .sm-ml6 { margin-left:   calc(6 * var(--base-unit)) }

  .sm-mx0 { margin-left:   0;                          margin-right:  0;              }
  .sm-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .sm-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .sm-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .sm-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }
  .sm-mx5 { margin-left:   calc(5 * var(--base-unit)); margin-right:  calc(5 * var(--base-unit)); }
  .sm-mx6 { margin-left:   calc(6 * var(--base-unit)); margin-right:  calc(6 * var(--base-unit)); }

  .sm-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .sm-my1 { margin-top:   calc(1 * var(--base-unit)); margin-bottom:  calc(1 * var(--base-unit)); }
  .sm-my2 { margin-top:   calc(2 * var(--base-unit)); margin-bottom:  calc(2 * var(--base-unit)); }
  .sm-my3 { margin-top:   calc(3 * var(--base-unit)); margin-bottom:  calc(3 * var(--base-unit)); }
  .sm-my4 { margin-top:   calc(4 * var(--base-unit)); margin-bottom:  calc(4 * var(--base-unit)); }
  .sm-my5 { margin-top:   calc(5 * var(--base-unit)); margin-bottom:  calc(5 * var(--base-unit)); }
  .sm-my6 { margin-top:   calc(6 * var(--base-unit)); margin-bottom:  calc(6 * var(--base-unit)); }

  .sm-mxn1 { margin-left:   calc(-1 * var(--base-unit)); margin-right:  calc(-1 * var(--base-unit)); }
  .sm-mxn2 { margin-left:   calc(-2 * var(--base-unit)); margin-right:  calc(-2 * var(--base-unit)); }
  .sm-mxn3 { margin-left:   calc(-3 * var(--base-unit)); margin-right:  calc(-3 * var(--base-unit)); }
  .sm-mxn4 { margin-left:   calc(-4 * var(--base-unit)); margin-right:  calc(-4 * var(--base-unit)); }
  .sm-mxn5 { margin-left:   calc(-5 * var(--base-unit)); margin-right:  calc(-5 * var(--base-unit)); }
  .sm-mxn6 { margin-left:   calc(-6 * var(--base-unit)); margin-right:  calc(-6 * var(--base-unit)); }
}

@media (--md-viewport) {
  .md-m0  { margin:        0 }
  .md-mt0 { margin-top:    calc(0 * var(--base-unit)) }
  .md-mr0 { margin-right:  calc(0 * var(--base-unit)) }
  .md-mb0 { margin-bottom: calc(0 * var(--base-unit)) }
  .md-ml0 { margin-left:   calc(0 * var(--base-unit)) }

  .md-m1  { margin:        calc(1 * var(--base-unit)) }
  .md-mt1 { margin-top:    calc(1 * var(--base-unit)) }
  .md-mr1 { margin-right:  calc(1 * var(--base-unit)) }
  .md-mb1 { margin-bottom: calc(1 * var(--base-unit)) }
  .md-ml1 { margin-left:   calc(1 * var(--base-unit)) }

  .md-m2  { margin:        calc(2 * var(--base-unit)) }
  .md-mt2 { margin-top:    calc(2 * var(--base-unit)) }
  .md-mr2 { margin-right:  calc(2 * var(--base-unit)) }
  .md-mb2 { margin-bottom: calc(2 * var(--base-unit)) }
  .md-ml2 { margin-left:   calc(2 * var(--base-unit)) }

  .md-m3 { margin:         calc(3 * var(--base-unit)) }
  .md-mt3 { margin-top:    calc(3 * var(--base-unit)) }
  .md-mr3 { margin-right:  calc(3 * var(--base-unit)) }
  .md-mb3 { margin-bottom: calc(3 * var(--base-unit)) }
  .md-ml3 { margin-left:   calc(3 * var(--base-unit)) }

  .md-m4  { margin:        calc(4 * var(--base-unit)) }
  .md-mt4 { margin-top:    calc(4 * var(--base-unit)) }
  .md-mr4 { margin-right:  calc(4 * var(--base-unit)) }
  .md-mb4 { margin-bottom: calc(4 * var(--base-unit)) }
  .md-ml4 { margin-left:   calc(4 * var(--base-unit)) }

  .xs-m5  { margin:        calc(5 * var(--base-unit)) }
  .xs-mt5 { margin-top:    calc(5 * var(--base-unit)) }
  .xs-mr5 { margin-right:  calc(5 * var(--base-unit)) }
  .xs-mb5 { margin-bottom: calc(5 * var(--base-unit)) }
  .xs-ml5 { margin-left:   calc(5 * var(--base-unit)) }

  .md-m6  { margin:        calc(6 * var(--base-unit)) }
  .md-mt6 { margin-top:    calc(6 * var(--base-unit)) }
  .md-mr6 { margin-right:  calc(6 * var(--base-unit)) }
  .md-mb6 { margin-bottom: calc(6 * var(--base-unit)) }
  .md-ml6 { margin-left:   calc(6 * var(--base-unit)) }

  .md-mx0 { margin-left:   0;                          margin-right:  0;              }
  .md-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .md-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .md-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .md-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }
  .md-mx5 { margin-left:   calc(5 * var(--base-unit)); margin-right:  calc(5 * var(--base-unit)); }
  .md-mx6 { margin-left:   calc(6 * var(--base-unit)); margin-right:  calc(6 * var(--base-unit)); }

  .md-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .md-my1 { margin-top:   calc(1 * var(--base-unit)); margin-bottom:  calc(1 * var(--base-unit)); }
  .md-my2 { margin-top:   calc(2 * var(--base-unit)); margin-bottom:  calc(2 * var(--base-unit)); }
  .md-my3 { margin-top:   calc(3 * var(--base-unit)); margin-bottom:  calc(3 * var(--base-unit)); }
  .md-my4 { margin-top:   calc(4 * var(--base-unit)); margin-bottom:  calc(4 * var(--base-unit)); }
  .md-my5 { margin-top:   calc(5 * var(--base-unit)); margin-bottom:  calc(5 * var(--base-unit)); }
  .md-my6 { margin-top:   calc(6 * var(--base-unit)); margin-bottom:  calc(6 * var(--base-unit)); }

  .md-mxn1 { margin-left:   calc(-1 * var(--base-unit)); margin-right:  calc(-1 * var(--base-unit)); }
  .md-mxn2 { margin-left:   calc(-2 * var(--base-unit)); margin-right:  calc(-2 * var(--base-unit)); }
  .md-mxn3 { margin-left:   calc(-3 * var(--base-unit)); margin-right:  calc(-3 * var(--base-unit)); }
  .md-mxn4 { margin-left:   calc(-4 * var(--base-unit)); margin-right:  calc(-4 * var(--base-unit)); }
  .md-mxn5 { margin-left:   calc(-5 * var(--base-unit)); margin-right:  calc(-5 * var(--base-unit)); }
  .md-mxn6 { margin-left:   calc(-6 * var(--base-unit)); margin-right:  calc(-6 * var(--base-unit)); }
}

@media (--lg-viewport) {
  .lg-m0  { margin:        0 }
  .lg-mt0 { margin-top:    calc(0 * var(--base-unit)) }
  .lg-mr0 { margin-right:  calc(0 * var(--base-unit)) }
  .lg-mb0 { margin-bottom: calc(0 * var(--base-unit)) }
  .lg-ml0 { margin-left:   calc(0 * var(--base-unit)) }

  .lg-m1  { margin:        calc(1 * var(--base-unit)) }
  .lg-mt1 { margin-top:    calc(1 * var(--base-unit)) }
  .lg-mr1 { margin-right:  calc(1 * var(--base-unit)) }
  .lg-mb1 { margin-bottom: calc(1 * var(--base-unit)) }
  .lg-ml1 { margin-left:   calc(1 * var(--base-unit)) }

  .lg-m2  { margin:        calc(2 * var(--base-unit)) }
  .lg-mt2 { margin-top:    calc(2 * var(--base-unit)) }
  .lg-mr2 { margin-right:  calc(2 * var(--base-unit)) }
  .lg-mb2 { margin-bottom: calc(2 * var(--base-unit)) }
  .lg-ml2 { margin-left:   calc(2 * var(--base-unit)) }

  .lg-m3 { margin:         calc(3 * var(--base-unit)) }
  .lg-mt3 { margin-top:    calc(3 * var(--base-unit)) }
  .lg-mr3 { margin-right:  calc(3 * var(--base-unit)) }
  .lg-mb3 { margin-bottom: calc(3 * var(--base-unit)) }
  .lg-ml3 { margin-left:   calc(3 * var(--base-unit)) }

  .lg-m4  { margin:        calc(4 * var(--base-unit)) }
  .lg-mt4 { margin-top:    calc(4 * var(--base-unit)) }
  .lg-mr4 { margin-right:  calc(4 * var(--base-unit)) }
  .lg-mb4 { margin-bottom: calc(4 * var(--base-unit)) }
  .lg-ml4 { margin-left:   calc(4 * var(--base-unit)) }

  .lg-m5  { margin:        calc(5 * var(--base-unit)) }
  .lg-mt5 { margin-top:    calc(5 * var(--base-unit)) }
  .lg-mr5 { margin-right:  calc(5 * var(--base-unit)) }
  .lg-mb5 { margin-bottom: calc(5 * var(--base-unit)) }
  .lg-ml5 { margin-left:   calc(5 * var(--base-unit)) }

  .lg-m6  { margin:        calc(6 * var(--base-unit)) }
  .lg-mt6 { margin-top:    calc(6 * var(--base-unit)) }
  .lg-mr6 { margin-right:  calc(6 * var(--base-unit)) }
  .lg-mb6 { margin-bottom: calc(6 * var(--base-unit)) }
  .lg-ml6 { margin-left:   calc(6 * var(--base-unit)) }

  .lg-mx0 { margin-left:   0;                          margin-right:  0;              }
  .lg-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .lg-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .lg-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .lg-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }
  .lg-mx5 { margin-left:   calc(5 * var(--base-unit)); margin-right:  calc(5 * var(--base-unit)); }
  .lg-mx6 { margin-left:   calc(6 * var(--base-unit)); margin-right:  calc(6 * var(--base-unit)); }

  .lg-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .lg-my1 { margin-top:   calc(1 * var(--base-unit)); margin-bottom:  calc(1 * var(--base-unit)); }
  .lg-my2 { margin-top:   calc(2 * var(--base-unit)); margin-bottom:  calc(2 * var(--base-unit)); }
  .lg-my3 { margin-top:   calc(3 * var(--base-unit)); margin-bottom:  calc(3 * var(--base-unit)); }
  .lg-my4 { margin-top:   calc(4 * var(--base-unit)); margin-bottom:  calc(4 * var(--base-unit)); }
  .lg-my5 { margin-top:   calc(5 * var(--base-unit)); margin-bottom:  calc(5 * var(--base-unit)); }
  .lg-my6 { margin-top:   calc(6 * var(--base-unit)); margin-bottom:  calc(6 * var(--base-unit)); }

  .lg-mxn1 { margin-left:   calc(-1 * var(--base-unit)); margin-right:  calc(-1 * var(--base-unit)); }
  .lg-mxn2 { margin-left:   calc(-2 * var(--base-unit)); margin-right:  calc(-2 * var(--base-unit)); }
  .lg-mxn3 { margin-left:   calc(-3 * var(--base-unit)); margin-right:  calc(-3 * var(--base-unit)); }
  .lg-mxn4 { margin-left:   calc(-4 * var(--base-unit)); margin-right:  calc(-4 * var(--base-unit)); }
  .lg-mxn5 { margin-left:   calc(-5 * var(--base-unit)); margin-right:  calc(-5 * var(--base-unit)); }
  .lg-mxn6 { margin-left:   calc(-6 * var(--base-unit)); margin-right:  calc(-6 * var(--base-unit)); }
}

@media (--xl-viewport) {
  .xl-m0  { margin:        0 }
  .xl-mt0 { margin-top:    calc(0 * var(--base-unit)) }
  .xl-mr0 { margin-right:  calc(0 * var(--base-unit)) }
  .xl-mb0 { margin-bottom: calc(0 * var(--base-unit)) }
  .xl-ml0 { margin-left:   calc(0 * var(--base-unit)) }

  .xl-m1  { margin:        calc(1 * var(--base-unit)) }
  .xl-mt1 { margin-top:    calc(1 * var(--base-unit)) }
  .xl-mr1 { margin-right:  calc(1 * var(--base-unit)) }
  .xl-mb1 { margin-bottom: calc(1 * var(--base-unit)) }
  .xl-ml1 { margin-left:   calc(1 * var(--base-unit)) }

  .xl-m2  { margin:        calc(2 * var(--base-unit)) }
  .xl-mt2 { margin-top:    calc(2 * var(--base-unit)) }
  .xl-mr2 { margin-right:  calc(2 * var(--base-unit)) }
  .xl-mb2 { margin-bottom: calc(2 * var(--base-unit)) }
  .xl-ml2 { margin-left:   calc(2 * var(--base-unit)) }

  .xl-m3 { margin:         calc(3 * var(--base-unit)) }
  .xl-mt3 { margin-top:    calc(3 * var(--base-unit)) }
  .xl-mr3 { margin-right:  calc(3 * var(--base-unit)) }
  .xl-mb3 { margin-bottom: calc(3 * var(--base-unit)) }
  .xl-ml3 { margin-left:   calc(3 * var(--base-unit)) }

  .xl-m4  { margin:        calc(4 * var(--base-unit)) }
  .xl-mt4 { margin-top:    calc(4 * var(--base-unit)) }
  .xl-mr4 { margin-right:  calc(4 * var(--base-unit)) }
  .xl-mb4 { margin-bottom: calc(4 * var(--base-unit)) }
  .xl-ml4 { margin-left:   calc(4 * var(--base-unit)) }

  .xl-m5  { margin:        calc(5 * var(--base-unit)) }
  .xl-mt5 { margin-top:    calc(5 * var(--base-unit)) }
  .xl-mr5 { margin-right:  calc(5 * var(--base-unit)) }
  .xl-mb5 { margin-bottom: calc(5 * var(--base-unit)) }
  .xl-ml5 { margin-left:   calc(5 * var(--base-unit)) }

  .xl-m6  { margin:        calc(6 * var(--base-unit)) }
  .xl-mt6 { margin-top:    calc(6 * var(--base-unit)) }
  .xl-mr6 { margin-right:  calc(6 * var(--base-unit)) }
  .xl-mb6 { margin-bottom: calc(6 * var(--base-unit)) }
  .xl-ml6 { margin-left:   calc(6 * var(--base-unit)) }

  .xl-mx0 { margin-left:   0;                          margin-right:  0;              }
  .xl-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .xl-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .xl-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .xl-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }
  .xl-mx5 { margin-left:   calc(5 * var(--base-unit)); margin-right:  calc(5 * var(--base-unit)); }
  .xl-mx6 { margin-left:   calc(6 * var(--base-unit)); margin-right:  calc(6 * var(--base-unit)); }

  .xl-my0 { margin-top:   0;                          margin-bottom:  0;              }
  .xl-my1 { margin-top:   calc(1 * var(--base-unit)); margin-bottom:  calc(1 * var(--base-unit)); }
  .xl-my2 { margin-top:   calc(2 * var(--base-unit)); margin-bottom:  calc(2 * var(--base-unit)); }
  .xl-my3 { margin-top:   calc(3 * var(--base-unit)); margin-bottom:  calc(3 * var(--base-unit)); }
  .xl-my4 { margin-top:   calc(4 * var(--base-unit)); margin-bottom:  calc(4 * var(--base-unit)); }
  .xl-my5 { margin-top:   calc(5 * var(--base-unit)); margin-bottom:  calc(5 * var(--base-unit)); }
  .xl-my6 { margin-top:   calc(6 * var(--base-unit)); margin-bottom:  calc(6 * var(--base-unit)); }

  .xl-mxn1 { margin-left:   calc(-1 * var(--base-unit)); margin-right:  calc(-1 * var(--base-unit)); }
  .xl-mxn2 { margin-left:   calc(-2 * var(--base-unit)); margin-right:  calc(-2 * var(--base-unit)); }
  .xl-mxn3 { margin-left:   calc(-3 * var(--base-unit)); margin-right:  calc(-3 * var(--base-unit)); }
  .xl-mxn4 { margin-left:   calc(-4 * var(--base-unit)); margin-right:  calc(-4 * var(--base-unit)); }
  .xl-mxn5 { margin-left:   calc(-5 * var(--base-unit)); margin-right:  calc(-5 * var(--base-unit)); }
  .xl-mxn6 { margin-left:   calc(-6 * var(--base-unit)); margin-right:  calc(-6 * var(--base-unit)); }
}
