
/*
 * Position
 *
 */
.relative        { position: relative; }
.absolute        { position: absolute; }
.fixed           { position: fixed;    }

.t0 { top:    0; }
.r0 { right:  0; }
.l0 { left:   0; }
.b0 { bottom: 0; }

.t1 { top:    calc(1 * var(--base-unit));   }
.r1 { right:  calc(1 * var(--base-unit));   }
.l1 { left:   calc(1 * var(--base-unit));   }
.b1 { bottom: calc(1 * var(--base-unit));   }

.tn1 { top:    calc(-1 * var(--base-unit)); }
.rn1 { right:  calc(-1 * var(--base-unit)); }
.ln1 { left:   calc(-1 * var(--base-unit)); }
.bn1 { bottom: calc(-1 * var(--base-unit)); }

.t100 { top:    100%; }
.b100 { bottom: 100%; }
.r100 { right:  100%; }
.l100 { left:   100%; }

.t50 { top:    50%; }
.b50 { bottom: 50%; }
.r50 { right:  50%; }
.l50 { left:   50%; }

.t25 { top:    25%; }
.b25 { bottom: 25%; }
.r25 { right:  25%; }
.l25 { left:   25%; }

.t33 { top:    33%; }
.b33 { bottom: 33%; }
.r33 { right:  33%; }
.l33 { left:   33%; }
