
.shadow-0 {
  box-shadow: none;
}

.shadow-1 {
  box-shadow: 0 calc(2 * var(--one)) calc(4 * var(--one)) 0 rgba(0, 0, 0, var(--shadow-dark));
}

.shadow-2 {
  box-shadow: 0 calc(2 * var(--one)) calc(8 * var(--one)) 0 rgba(0, 0, 0, var(--shadow-dark));
}

.shadow-3 {
  box-shadow: 0 calc(2 * var(--one)) calc(16 * var(--one)) 0 rgba(0, 0, 0, var(--shadow-dark));
}

.shadow-4 {
  box-shadow: 0 calc(3 * var(--one)) calc(24 * var(--one)) 0 rgba(0, 0, 0, var(--shadow-dark));
}
